@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Open Sans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
  transition: all 0.3s;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Montserrat';
}

@media (min-width: 640px) {
  .custom-container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .custom-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .custom-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .custom-container {
    max-width: 1280px;
  }
}

@media (min-width: 1440px) {
  .custom-container {
    max-width: 1440px;
  }
}

/* @media (min-width: 1640px) {
  .custom-container {
    max-width: 1640px;
  }
} */